.main--01, .main--02 {
    margin-top: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main--01 {
    height: 160vh;
    background: var(--cor03);
    justify-content: space-evenly;
}

.box--text {
    background: var(--cor05);
    margin: 70px 0;
    padding-bottom: 30px;
    width: 45%;
    height: 920px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.box--text h1 {
    color: var(--cor04);
    text-align: center;
    padding: 45px 30px 35px;
    font-size: 2.1rem;
}

.text--content, .text--content--02 {
    padding: 15px 50px;
}

.text--content h2 {
    color: var(--cor01);
    margin-bottom: 20px;
}

.text--content p, .box--text--02 p {
    color: var(--cor04);
    line-height: 1.5rem;
}

.text--content ul {
    margin: 10px 30px;
}

.text--content ul li {
    color: var(--cor04);
    padding: 10px;
    line-height: 1.5rem;
}

/* MAIN 02 */

.main--02 {
    height: 120vh;
    background: var(--cor05);
    flex-direction: column;
    margin-bottom: 100px;
}

.box--text--02 {
    margin-top: 60px;
    padding-bottom: 30px;
    width: 60%;
}

.text--title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.text--title h1 {
    text-align: center;
    color: var(--cor04);
    margin-bottom: 15px;
    font-size: 2.5rem;
}

.text--title span {
    width: 60px;
    height: 2px;
    background: var(--cor02);
    display: block;
    text-align: center;
}

.text--content--02 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.text--content--02 i {
    margin-right: 20px;
    color: var(--cor02);
    font-size: 2rem;
}

.text--content--02 {
    font-size: 1rem;
}

.card {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 8px 15px #0000001a;
    background: linear-gradient(45deg, var(--cor02), var(--cor03));
    border-radius: 5px;
}

.card p {
    color: #fff;
}

.card a {
    padding: 10px 40px;
    background: #fff;
    box-shadow: 0px 8px 15px #0000001a;
    border-radius: 5px;
    font-weight: 600;
    color: var(--cor02);
    transition: .3s ease;
}

.card i {
    font-size: 1.2rem;
    color: #fff;
}

.card a:hover {
    transform: scale(1.05);
}

.card a:not(:hover) {
    transform: scale(1);
}