@charset "UTF-8";

:root {
  --gray01: #3c5264;
  --red: #f15557;
  --pink: #f26a6c;
  --gray02: #233545;
  --white: #fafafd;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  outline: none;
}

a {
  color: var(--gray02);
  text-decoration: none;
}

body,
html {
  background: var(--white);
  scroll-behavior: smooth;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 20px;
}

.reveal {
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
