.support {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--pink);
}

.box--support {
    background: var(--white);
    margin: 70px 0;
    padding: 30px;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.support--title {
    padding-bottom: 20px;
}

.support--title h1 {
    color: var(--gray02);
    padding-bottom: 15px;
}

.support--title span {
    width: 50px;
    height: 2px;
    background: var(--red);
    display: block;
    text-align: center;
}

.box--support textarea, .box--support input {
    border: 1px solid lightgrey;
    background: #f8f8f8;
    width: 100%;
    border-radius: 5px;
    resize: none;
    padding: 20px;
    font-size: 1rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.btnSend {
    padding: 10px 30px;
    border-radius: 5px;
    background: linear-gradient(45deg, var(--red), var(--pink));
    color: #fff;
    animation: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}